
body{
    color: var(--main-color-text);
    font-family: 'Roboto', sans-serif;  
}
:root {
    --logo-color-black: rgba(0, 0, 0, 1);
    --main-color-black: rgba(33, 33, 33, 1);
    --main-color-blue: rgba(33, 150, 243, 1);
    --main-color-white: rgba(255, 255, 255, 1);
    --main-color-text: rgba(117, 117, 117, 1);
    --hero-color: rgba(47, 48, 58, 1);
    --button-color-port: rgba(245, 244, 250, 1);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p{
    margin: 0;
}
.container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}




.main-logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.web-blue{
    color: var(--main-color-blue);
}
.logo-black{
    color: var(--logo-color-black) ;
}
.head-list .link{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--main-color-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
}
.head-list .link.current{
    color: var(--main-color-blue);
}
.head-list .link:hover,
.head-list .link:focus{
    color: var(--main-color-blue);
}
.head-info .mail,.head-info .tel{
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.43;
letter-spacing: 0.02em;
}


.head-info .mail:hover, 
.head-info .mail:focus,
.head-info .tel:hover, 
.head-info .tel:focus{
    color: var(--main-color-blue);
}
.info{
    /* изза сслыки не наследует цвет из "body" */
    color: var(--main-color-text);
    text-decoration: none;
}
.hero{
    background-color:var(--hero-color) ;
}
.hero h1{
  
    color: var(--main-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button{
    
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;;
    color: var(--main-color-white);
   background-color : var(--main-color-blue);
   
   border-radius: 4px ;
   height: 50px;
   width: 216px;
   font-family: inherit;
   font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
/* identical to box height, or 188% */
text-align: center;    
letter-spacing: 0.06em;
}
.button:focus{
    color: var(--main-color-white);
    background-color : var(--main-color-text);
}
.button:hover{
   cursor: pointer;
}

.hide{
    display: none;
}

.benefits{
    color: var(--main-color-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.affair{
    margin-top: 94px;
}

.corect{
    margin-top: 50px;
}
.triple-picture{

    display: block;
}

.our-team{
    margin-top: 94px;;
    background-color: var(--button-color-port);
}

.team-head {
    padding-top: 94px;

    color: var(--main-color-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team .names{
    color: var(--main-color-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height */
    letter-spacing: 0.03em
}
.our-team .post{
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height */
    letter-spacing: 0.03em;
}
.names{
    padding-top: 30px;
}
.post{
    padding-top: 10px;;
}



.button-port button{
    background-color: var(--button-color-port);
    border-radius: 4px;
    border: 0;
    height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.button-port button:hover,
.button-port button:focus {
    background-color: var(--main-color-blue);
    color: var(--main-color-white);
    cursor: pointer;
}
.first{
    width: 73px;  
}
.sec{
    width: 125px;
}
.thirh{
        width: 112px;
}
.fourth{
    width: 103px;
}
.fifth{
    width: 130px;
}
.pick a{
    text-decoration: none;
}
.pick .photo-name{
    color: var(--main-color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.pick .text-name{
    /* оставил  "color:" потомучто изза ссылки оно не наследует цвет, 
    если вынетси тег "р" за граници тега "а" всё работает*/
    color: var(--main-color-text);
    
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.footer{
    background-color: var(--hero-color);
}

.footer .main-logo{
    display: inline-block;
    padding-top: 60px;
}
.logo-white{
    color: var(--main-color-white);
}
.footer-link{
    text-decoration: none;
}
.foot{
    font-style: normal;
    padding-bottom: 60px;
}
.street{
    padding-top: 20px;
    color: var(--main-color-white);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.foot-info{
    padding-top: 9px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.foot-info:focus,
.foot-info:hover{
    color: var(--main-color-blue);
}