*{
    padding: 0;
    margin: 0;
    border: 0;
}
:root {
    --logo-color-black: rgba(0, 0, 0, 1);
    --main-color-black: rgba(33, 33, 33, 1);
    --main-color-blue: rgba(33, 150, 243, 1);
    --main-color-white: rgba(255, 255, 255, 1);
    --main-color-text: rgba(117, 117, 117, 1);
    --hero-color: rgba(47, 48, 58, 1);
    --button-color-port: rgba(245, 244, 250, 1);
}

 .first {
     width: 73px;
 }

 .sec {
     width: 125px;
 }

 .thirh {
     width: 112px;
 }

 .fourth {
     width: 103px;
 }

 .fifth {
     width: 130px;
 }

.button-port button {
      background-color: var(--button-color-port);
      border-radius: 4px;
      height: 38px;
  }

.button-port button:hover {
      background-color: var(--main-color-blue);
      color: var(--main-color-white);
  }


